*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frist{
    display: flex;
    gap: 80%;
    background-color: #0EB355;
    font-size: 40px;
    padding: 20px;
    height: 100px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.frist a{
    text-decoration: none;
}

.deliver{
    background-color: #04883d;;
    padding: 10px;
    
}

nav{
    display: flex;
    gap: 25px;
    font-size: 20px;
    padding: 12px;
    background-color: #0b803e;;
    box-shadow: 0px 0px 50px -11px rgba(0,0,0,0.05);
    
}

nav a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.deliver{
    font-size: 25px;
    background-color: #0EB355;
}

.heading {
    padding: 20px;
    text-align: center;
    color: rgb(102, 92, 92);
    
}
.heading h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




.box-section{
     width: 100%;
     margin-bottom: 40px;
     
}

.box-card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    

}

.image{
    width: 19%;
    border: 1px solid rgb(65, 63, 63);
    margin-left: 10px;
    height: 450px;
    margin-top: 20px;
    border-radius: 15px;
    padding-bottom: 15px;


}

.image img{
    width: 100%;
    padding: 10px;
    height: 350px;
}

.image h2{
    text-align: center;
}

.image p{
    font-size: 25px;
    padding-left: 10px;
    
}

.image:hover{
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: -1px 1px 14px -1px rgba(0,0,0,0.73);
    transition: 0.3s;
}

